<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.acedrops.acedrops">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/new_acedrop_logo"
        android:label="@string/app_name"
        tools:replace="android:theme"
        android:roundIcon="@drawable/new_acedrop_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AceDrops">
        <activity
            android:name=".view.dash.PaymentActivity"
            android:exported="false"
            android:label="@string/title_activity_payment"
            android:theme="@style/Theme.AceDrops.NoActionBar" />
        <activity
            android:name=".view.dash.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".view.auth.AuthActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".view.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>